<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="Warn" name="my1logger">
    <Appenders>
        <RollingFile name="RollingAppender" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies><!-- -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="logs">
                    <IfFileName glob="hippodrome-*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RollingAppender"/>

        </Root>
    </Loggers>
</Configuration>